.nav-ul li{
  display: inline-block;
  margin: 0 10px;
}
.nav-ul li a{
  text-decoration: none;
  color: #61dafb;
  padding: 5px;
}
.nav-ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  background-color: #282c34;
  border-radius: 5px;
  /* position: fixed; */
  top: 0;
  left: 0;
}

.signup,.login,.add-sweet{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  margin-bottom: 5px;

}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}

.signup-button,
.login-button,
.sort-controls button {
  background-color: #32545e;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-controls button:hover,
.signup-button:hover,
.login-button:hover {
  background-color: #2a434a;
}

.inputbox{
  /* margin-left: 20%; */
  margin-right: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  padding: 8px;
  /* margin: 5px 0; */
  border: 1px solid #1a1313;
  border-radius: 4px;
}

.invalid-input {
  color: red;
  /* margin-top: ; */
  display: block;
  /* margin-left: 10px; */
}

.sweet-list,.sweet-restock{
  text-align: center;
  margin-top: 50px;
}
.sweet-list ul li,.sweet-restock ul li{
  display: inline-block;
  border: 1px solid rgb(36, 114, 145);
  padding: 5px;
  width: 150px;
}
.sweet-list ul ,.sweet-restock ul{
  margin: 0px ;
}
.search-sweet {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
  height: 20px;
  border: 1px solid rgb(36, 114, 145);
  border-radius: 8px;
}

.search-sweet {
  margin-bottom: 15px;
  padding: 8px;
  width: 200px;
}

.inputbox {
  padding: 5px;
}


.nav-right {
  text-align: right;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
